.Issues {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.Issues-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.IssueList {
  width: 100%;
}

@media only screen and (max-device-width: 480px) {
  .Issues-content {
    align-items: center;
  }
}

.IssueItem {
  margin-bottom: 10px;
  align-items: baseline;
}

.IssueItem-content {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #000;
}
