// Base styles

html {
  height: 100%;
  width: 100%;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #aaa;
  }
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Helvetica Neue", "Segoe UI", "Trebuchet MS", Geneva, Tahoma,
    sans-serif;
  line-height: 1;
}

#app {
  display: inline-flex;
  height: 100%;
  min-width: 100%;
}

button,
span,
a {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

h2 {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 8px;
}

input[type="submit"] {
  background-color: #dfe3e6;
  box-shadow: 0 1px 0 0 #c2ccd1;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 20px;
  margin: 8px 4px 0 0;
  padding: 6px 12px;
  text-align: center;
}

input[type="text"] {
  margin: 4px 0 12px;
  box-sizing: border-box;
  -webkit-appearance: none;
  background-color: #e2e4e6;
  border: 1px solid #cdd2d4;
  border-radius: 3px;
  padding: 7px;
}

.Input {
  border: none;
  padding: 10px;
  background: none;
  outline: none;
}

.Input:focus {
  outline: none;
}

.Input_white {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.Input_black {
  border-bottom: 1px solid #000;
  color: #000;
}

pre {
  font-family: “Consolas”, monospace;
  font-size: 9pt;
  text-align: left;
  background-color: #fcf7ec;
  overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  word-wrap: pre-wrap; /* Internet Explorer 5.5+ */
  margin: 0px 0px 0px 0px;
  padding: 5px 5px 3px 5px;
  white-space: normal; /* crucial for IE 6, maybe 7? */
  width: 100vh;
}

@media (max-width: 700px) {
  pre {
    width: 35vh;
  }
}
